@charset "utf-8";
/* CSS Document */

body{
}
#badan{
	width:100%;
	background-image:url(../images/bg.jpg);
	height:429px;
}
#atas{
}
#isi{
	background-color:#CCC;
	height:400px;
}
#dp{
	float:inherit;
}
#profile{
	background-color:#CCC;
	height:600px;
}

